{% extends 'base.html' %}

{% block title %}
About RedPanda's Expenses
{% endblock %}


{% block content %}

<body class="text-center">
    <div class="container-fluid" class="text-center" >
        <p class="lead">
            <br>
            So you clicked About ...
          </p>
    
    </div>
</body>
<body>
    <div class="container-fluid" class="text-center" >
        <p  class="fw-normal">
        This app has tons of limitations that I didn't even try to fix.<br>
        It doesn't look half as good as I expected, and it is also not functional enough to please me. <br>
        However, I decided that FLASK is not a very progressive technology for me<br>
        and I want to focus on working with other frameworks. Nevertheless, I invite you to use.<br>
        It is obvious that I found all the pictures on the internet and belong to their legal owners.<br>
        This application would not have been created without: <br>
        -Rafał Mobilo's course on FLASK<br>
         and the help of a nice<br> 
        -JIM SHAPE CODING.<br>
        
        <br>
        It's nice that it working.
        </p>
        <img class="mb-3" src="{{url_for('static', filename='4.jpg')}}" allign="middle">
            
        

        
    </div>

</body>






{% endblock %}





