{% extends 'base.html' %}

{% block title %}
About RedPanda's Expenses
{% endblock %}


{% block content %}

<body class="text-center">
    <div class="container">
    <h1 class="h3 mb-3 font-weight-normal">
            You are welcome to see my first self made FLASK application.<br>
            Its named "Red Panda's Expenses". I know, that this app is  really simple and limited. 
            But, its my first app, so please be understanding. If you find a bug in it, tell me.
            I'll try to correct it. I wish you a pleasant enjoyment.</h1>
    </h1>
        <img class="mb-3" src="{{url_for('static', filename='3.jpg')}}" allign="middle">
            
            

        
        <h4>Ps. Red panda inserted on purpose</h4>      
        
    </div>

</body>






{% endblock %}

